{% extends "base.html" %}
{% block title %}Clientes - AZhadkiel{% endblock %}
{% block content %}
<div class="bg-white p-4 rounded-4 shadow-sm border mb-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-dark mb-0">Listado de clientes registrados</h2>
        <span class="badge bg-success fs-6 px-3 py-2">Total: {{ clientes|length }}</span>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Empresa / Cliente</th>
                    <th>Contacto</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% for cli in clientes %}
                <tr>
                    <td>{{ cli.id }}</td>
                    <td class="fw-bold text-info">{{ cli.nombre }}</td>
                    <td>{{ cli.contacto }}</td>
                    <td>{{ cli.correo }}</td>
                    <td>{{ cli.telefono }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}